server:
  port: 8080
  baseURL: "/"
  sources:
    - path: "/srv"

auth:
  key: "__AUTH_KEY__"
  tokenExpirationHours: 4
  methods:
    chainfs:
      enabled: true
      apiBaseUrl: "https://nansenuat.azurewebsites.net"
      clientSecret: "__CHAINFS_CLIENT_SECRET__"
      createUser: true
      adminClaim: "roles"
      adminClaimValue: "admin"
    password:
      enabled: false
    oidc:
      enabled: false
    proxy:
      enabled: false
    noauth: false

userDefaults:
  permissions:
    admin: false
    modify: true
    share: true
    delete: true
    create: true
    download: true
